@{
    ViewData["Title"] = "Home";
}

<!-- HERO -->
<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">

            <div class="col-lg-7">
                <h4 class="text-secondary">LND Shop</h4>
                <h1 class="display-3 text-primary">
                    Good Products
                </h1>

                <div class="position-relative mx-auto">
                    <input class="form-control w-75 py-3 px-4 rounded-pill" placeholder="Search">
                    
                </div>
            </div>

            <div class="col-lg-5">
                <img src="~/img/hero-img-1.png" class="img-fluid" />
            </div>

        </div>
    </div>
</div>

<!-- FEATURES -->
<div class="container py-5">
    <div class="row g-4 text-center">

        <div class="col-md-3">
            <i class="fas fa-car-side fa-2x text-primary"></i>
            <h5>Free Shipping</h5>
        </div>

        <div class="col-md-3">
            <i class="fas fa-user-shield fa-2x text-primary"></i>
            <h5>Secure Payment</h5>
        </div>

        <div class="col-md-3">
            <i class="fas fa-exchange-alt fa-2x text-primary"></i>
            <h5>30 Days Return</h5>
        </div>

        <div class="col-md-3">
            <i class="fa fa-phone-alt fa-2x text-primary"></i>
            <h5>24/7 Support</h5>
        </div>

    </div>
</div>