
<footer class="container-fluid bg-dark text-white footer py-2 mt-auto">
    <strong>
        Copy right &copy; 2026&nbsp;
        <a href="~/" class="text-decoration-none">LND Shop</a>.
    </strong>
    All rights reserved.
</footer>